@import url('https://fonts.googleapis.com/css2?family=Molle&family=Poppins:wght@700&display=swap');

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  padding: 0.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav a {
  transition: color 0.5s linear;
}

nav a:hover {
  color: #1498D5;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #000000;
  font-size: 30px;
  text-decoration: none;
}

.nav_div {
  background-image: url('../assets/navigation.jpg');
  /* filter: invert(1); */
}

.content {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 45%;
  left: 22%;
  word-spacing: 0.25rem;
  letter-spacing: 0.25rem;
  font-size: 1.75rem;
  color: #fff;
}

span {
  transition: all 0.5s ease;
}

span.cover {
  color: #1498D5;
}

button {
  background: none;
  border: 2px solid #1498D5;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1rem;
  border-radius: 20px;
}

.button{
  display: flex;
  justify-content: right;
}

.pulse{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.pulse:hover,
.pulse:focus {

  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #1498D5;
  }
}

#aboutme{
  color: #1498D5;
}