@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

body {
  background-color: #000;
}

button {
  background: none;
  border: 2px solid #1498d5;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1rem;
  border-radius: 20px;
}

.button {
  display: flex;
  padding-top: 1rem;
}

.background_img {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 20px;
  /* background-color: #ffffff08; */
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

nav a:hover:after {
  width: 100%;
  left: 0;
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f300b4;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 10px 20px;
}

nav ul li a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}

#nav_a_id {
  color: #ffff;
}

#nav_id{
  transition: all 1.5s ease-out;
  color: #ffffff2a;
}

#nav_a_id1{
  transition: all 1.5s ease-out;
}

#nav_a_id2{
  transition: all 1.5s ease-out;
}

#nav_a_id3{
  transition: all 1.5s ease-out;
}

#nav_a_id4{
  transition: all 1.5s ease-out;
}

.logo {
  font-family: "Rock Salt", cursive;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1rem 0rem 0rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
}

#home_logo{
  transition: all 1.5s ease-out;
}

.menuicon {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 3px;
  background: #fff;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20rem;
  align-items: center;
  word-spacing: 0.15rem;
  letter-spacing: 0.15rem;
  font-size: 1.75rem;
  color: #fff;
  visibility: visible;
}

span {
  transition: all 0.5s ease;
}

span.cover {
  color: #1498d5;
}

#desc {
  display: flex;
  justify-content: left;
  padding-top: 20px;
}

.desc_p {
  font-size: 1.25rem;
  border-top: 3px solid #fff;
  padding-top: 20px;
}

#main .arrow_div {
  padding-top: 150px;
}

#main #arrow_img {
  filter: invert(1);
  cursor: pointer;
}

/* About Section */

#about {
  padding-top: 200px;
  background-color: #1498d5;
}

#about .section-title {
  display: flex;
  justify-content: left;
  text-align: center;
  color: #000;
  padding-bottom: 50px;
  /* opacity: 0; */
}

#about .about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about .col-right h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0px;
}

#about .col-right p {
  display: flex;
  margin-bottom: 20px;
  padding: 0px 20px 0px 0px;
  font-weight: 900;
  color: #fff;
}

#about .about-img {
  display: flex;
  justify-content: center;
  padding: 0px 0px 100px 300px;
}

#about .title_img {
  display: flex;
  justify-content: center;
  opacity: 0;
}

#about #about_me_img {
  border-radius: 50%;
  width: 35%;
  filter: drop-shadow(5px 5px 50px #fff);
  /* invert(0.4) saturate(0) */
}

#about .about-text {
  padding-bottom: 150px;
  opacity: 0;
}

#about #me_span {
  color: #fff;
  padding-left: 1rem;
}


#about .arrow_img_mobile {
  display: none;
}

#projects .arrow_img_mobile {
  display: none;
}

/* Start of Animation */


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes contact_fade {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -75px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* end of animation */


.toAnimate {
  opacity: 0;
}

.fadeIn {
  animation: fadeInRight 2s;
}

.aboutAnimate {
  opacity: 0;
}

.fadeup {
  animation: fadeInRight 2s;
  padding-bottom: 150px;
}

.project_title_animate {
  opacity: 0;
}

.fadeup_project {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px;
  animation: fadeInRight 2s;
  /* opacity: 0; */
}

.fadeup_project h1 {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
}

.top-bar {
  opacity: 0;
}

.contact_fadeIn {
  animation: contact_fade 2s;
  font-size: clamp(1rem, 5vw + 2rem, 5rem);
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  text-align: center;
  opacity: 1;
}

.contact_fadeIn>.title {
  font-size: clamp(1rem, 5vw + 2rem, 5rem);
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  text-align: center;
  opacity: 1;
}

.contact_fadeIn>.title-p {
  font-size: clamp(1rem, 5vw + 2rem, 5rem);
  text-transform: capitalize;
  color: #f300b4;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.arrow_fade {
  animation: fadeInDown 2s;
}

.remove_me {
  opacity: 0;
}


/* end of About Section */
/* Project Section */

#projects #project_span {
  color: #1498d5;
  padding-left: 1rem;
}

#projects {
  padding-top: 100px;
  background-color: #fff;
}

#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  opacity: 0;
}

#projects .projects-header {
  opacity: 0;
}

.lang_html,
.lang_css,
.lang_js,
.lang_json,
.lang_tailwind,
.lang_nodejs {
  padding: 5px;
  border-radius: 7px;
}

.lang_tailwind,
.lang_css,
.lang_json,
.lang_js {
  margin-left: 0.25rem;
}

.lang_html {
  background-color: #ff5733;
}

.lang_css,
.lang_tailwind {
  background-color: #264de4;
}

.lang_js {
  background-color: #e8c012;
}

.lang_json {
  background-color: #3f3e42;
}

.lang_nodejs {
  background-color: #3c873a;
}

.all-projects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px;
  opacity: 0;
}

.project-item {
  border: 1px solid #5555;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 450px;
  min-width: 400px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  min-height: 350px;
  background: #1498d5;
}

.project-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-img>img {
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info>h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.project-info>h2 {
  font-size: 0.75rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 10px;
  color: #fff;
}

/* End Projects section */

/* contact section */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0px;
}

.top-bar>.title {
  font-size: clamp(1rem, 5vw + 2rem, 5rem);
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.top-bar>.title-p {
  font-size: clamp(1rem, 5vw + 2rem, 5rem);
  text-transform: capitalize;
  color: #f300b4;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.form {
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  /* background: rgba(0, 0, 0, 0.253); */
  min-width: 300px;
  max-width: 800px;
}

.form>.form-control {
  width: 100%;
  margin: 20px 0px;
}

.form>.form-control>input {
  padding: 10px 0px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  background: #ffffffd3;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  text-indent: 10px;
  color: #000;
  caret-color: #000;
}

.form>.form-control>textarea {
  padding: 10px 0px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  background: #ffffffd3;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  text-indent: 10px;
  color: #000;
  caret-color: #000;
}

.form>.form-control>.submit-btn {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #1498d5;
  color: #fff;
  transition: .3s ease-in-out;
}

.form>.form-control>.submit-btn:hover {
  background: #1498d5;
  color: #fff;
}

::placeholder {
  transition: .5s ease-in-out;
  color: #000;
  font-weight: 700;
  opacity: 1;
  text-align: left;
}

:focus::placeholder {
  opacity: 0;
}

/* end of contact section */

/* Footer Section */

#footer {
  background: #c0c0c0e6;
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

#footer .copyright {
  display: flex;
  justify-content: center;
}

#footer a {
  color: #fff;
  text-decoration: none;
  padding-left: .25rem;
}

/* end of footer */

/* Responsiveness */

/* Tablet */
@media only screen and (min-width: 768px) {
  /* start of about section */

  /* end of about */
}

@media only screen and (max-width: 760px) {
  nav {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    background-color: #ffffff00;
  }
}

@media only screen and (max-width: 600px) {
  html {
    oveflow-y: hidden;
  }

  /* start of main */
  nav {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px;
    background-color: #ffffff00;
  }

  .logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: left;
    align-self: center;
    padding: 0rem 0rem 0rem 2rem;
  }

  .menuicon {
    display: block;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: right;
    align-self: center;
  }

  #menuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 0px;
    overflow: hidden;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    transition: 1s ease-in-out;
  }

  #img_menu_icon {
    position: absolute;
    top: 3%;
    left: 80%;
    cursor: pointer;
    filter: invert(1);
  }

  #content {
    min-height: 500px;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    visibility: visible;
  }

  .menuicon .dropdown {
    visibility: visible !important;
  }

  .name {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .br_none {
    display: none;
  }

  #desc {
    position: relative;
    top: 5%;
    left: 1%;
    display: flex;
    justify-content: left;
    padding-left: 0rem;
    padding-top: 0rem;
    word-spacing: normal;
    letter-spacing: normal;
  }

  .toggle {
    height: 275px !important;
  }

  .hide-content {
    visibility: hidden !important;
  }

  .desc_p {
    font-size: 20px;
    border-top: 2px solid #fff;
    padding-top: 10px;
  }

  .button {
    display: flex;
    position: relative;
    top: 60%;
    right: 5%;
  }

  .background_img {
    min-height: 100vh;
  }

  #main .arrow_div {
    padding-top: 80px;
  }

  /* end of main */
  /* start of about */

  #about {
    padding-top: 100px;
    background-color: #1498d5;
  }

  #about .arrow_img_mobile {
    display: flex;
    padding-top: 50px;
    transform: rotate(3.142rad);
    filter: invert(1);
  }

  #about #about_me_img {
    width: 50%;
  }

  #about .about-img {
    padding: 0px 0px 100px 0px;
  }

  #about .title_img {
    display: grid;
  }

  #about .section-title {
    justify-content: center;
  }

  #about .col-right p {
    padding: 0px 32px 0px 36px;
  }

  #about .about-text {
    line-height: 20px;
  }

  /* end of about */
  /* start of projects */

  #projects {
    padding-top: 10px;
  }

  #projects .arrow_img_mobile {
    display: flex;
    padding-top: 50px;
    transform: rotate(3.142rad);
  }

  .fadeup_project {
    padding-bottom: 0px;
  }

  /* end of projects */

  /* start of footer */

  #footer {
    font-size: 11px;
  }

  /* end of footer */

}


@media only screen and (max-width: 500px) {
  .project-item {
    min-width: 0;
    width: 100%;
  }
}