@import url("https://fonts.googleapis.com/css2?family=Molle&family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

nav {
  width: 100%;
  padding: 0.5rem 3rem 0rem 3rem;
  display: flex;
  justify-content: center;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 2rem;
}

nav a {
  transition: color 0.5s linear;
}

nav a:hover {
  color: #1556b1;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  letter-spacing: 0.25rem;
  margin: 10px 20px;
}

nav ul li a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

.nav_div {
  background-image: url("../assets/navigation.jpg");
}

#goBack {
  cursor: pointer;
}

#projects{
  color: #1556b1;
}